	<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="cheader">

    <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="css/style-responsive.css" th:href="@{/css/style-responsive.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js" th:src="@{/js/html5shiv.js}"></script>
    <script src="js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
    <script src="js/jquery-1.10.2.min.js"></script>
    <![endif]-->
    <script src="http://cdn.bootcss.com/sockjs-client/1.1.1/sockjs.min.js"></script>
    <script src="http://cdn.bootcss.com/stomp.js/2.3.3/stomp.js"></script>
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script>
        var stompClient = null;


        $(function(){

            if($("#s1").text()==1) {
                connect();
            }
        });


        function connect() {

            var socket = new SockJS("/testSocket");

            stompClient = Stomp.over(socket);

            stompClient.connect({}, function(frame) {

                console.log('Connected: ' + frame);
                stompClient.subscribe("/topic/main", function(frame){
                    /* showGreeting(JSON.parse(frame.body).content);*/
                    console.info(frame);
                    showGreeting(frame.body);
                });
            });
        }
        function showGreeting(message) {
            alert("你有新的订单");
           location.reload();
        }
    </script>

</head>
<body>
<!-- left side start-->
<div  id="leftmenu" class="left-side sticky-left-side">
    <span id="s1" hidden th:text="${session.loginUser.adm}"></span>

    <!--logo and iconic logo start-->
    <div class="logo">
        <a href="index.html"><img src="images/logo.png" alt=""></a>
    </div>

    <div class="logo-icon text-center">
        <a href="index.html"><img src="images/logo_icon.png" alt=""></a>
    </div>
    <!--logo and iconic logo end-->


    <div class="left-side-inner">

      <!--  &lt;!&ndash; visible to small devices only &ndash;&gt;
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media logged-user">
                <img alt="" src="images/photos/user-avatar.png" class="media-object">
                <div class="media-body">
                    <h4><a href="#">John Doe</a></h4>
                    <span>"Hello There..."</span>
                </div>
            </div>

            <h5 class="left-nav-title">Account Information</h5>
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
            </ul>
        </div>
-->
        <!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li><a th:href="@{/index.html}"><i class="fa fa-home"></i> <span>主页</span></a></li>
            <!--<li class="menu-list"><a href=""><i class="fa fa-laptop"></i> <span>菜品分类</span></a>
                <ul class="sub-menu-list">
                    <li ><a th:href="@{/zhucai1}"> 主菜</a></li>
                    <li><a th:href="@{/xiaochi}"> 小吃及饮料</a></li>
                   &lt;!&ndash; <li><a href="leftmenu_collapsed_view.html"> Sidebar Collapsed</a></li>
                    <li><a href="horizontal_menu.html"> Horizontal Menu</a></li>&ndash;&gt;
                </ul>
            </li>-->
            <li ><a th:href="@{/zhucai1}"><i class="fa fa-book"></i> <span>主菜</span></a>
            <li ><a th:href="@{/xiaochi}"><i class="fa fa-book"></i> <span>小吃及饮料</span></a>
            <li th:if="${session.loginUser.adm}"><a th:href="@{/addfood}">
                <i class="fa fa-laptop"></i> <span>添加菜品</span></a>

            </li>
            <li ><a th:href="@{/order}"><i class="fa fa-book"></i> <span>已完成订单</span></a>
            <li th:if="!${session.loginUser.adm}" ><a th:href="@{/neworder(username=${session.loginUser.username})}">
            <i class="fa fa-book"></i> <span>已支付订单</span></a>

            <li ><a th:href="@{/unorder}"><i class="fa fa-book"></i> <span>未支付订单</span></a>
            <li th:if="${session.loginUser.adm}" ><a th:href="@{/neworder}" >
            <i class="fa fa-book"></i> <span>新订单</span> <!--<span class="badge" style="color: green">[[${session.size}]] -->
            </a>

           </li>
            <li th:if="${session.loginUser.adm}"><a th:href="@{/total}" >
                <i class="fa fa-bullhorn"></i>  <span>查看今日销售情况</span></a></li>
            <li th:if="!${session.loginUser.adm}"><a th:href="@{/gouwuche}" >
                <i class="fa fa-bullhorn"></i>  <span>购物车</span></a></li>

        </ul>


    </div>
</div>
<!-- left side end-->

    <!-- header section start-->
    <div th:fragment="headermenu" class="header-section">

        <!--toggle button start-->
        <a class="toggle-btn"><i class="fa fa-bars"></i></a>
        <!--toggle button end-->


        <!--notification menu start -->
        <div class="menu-right">
            <ul class="notification-menu">
                <li>
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <img src="images/photos/user-avatar.png" alt="" />
                        [[${session.loginUser.username}]]
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                        <!--<li><a href="#"><i class="fa fa-user"></i>  Profile</a></li>-->
                        <li><a th:href="@{/update}"><i class="fa fa-cog"></i>  修改密码</a></li>
                        <li th:if="!${session.loginUser.adm}"><a th:href="@{/address}">
                            <i class="fa fa-cog"></i>  地址管理</a></li>
                        <li><a th:href="@{/exit}" href="#"><i class="fa fa-sign-out"></i> 退出</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!--notification menu end -->

    </div>
    <!-- header section end-->
<div id="cscript">
<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js" th:src="@{/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script src="js/jquery-migrate-1.2.1.min.js" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="js/modernizr.min.js" th:src="@{/js/modernizr.min.js}"></script>
<script src="js/jquery.nicescroll.js" th:src="@{/js/jquery.nicescroll.js}"></script>
    <!--common scripts for all pages-->
    <script th:src="@{/js/scripts.js}"></script>
</div>
</body>
</html>