<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="">
<meta name="author" content="ThemeBucket">
<link rel="shortcut icon" href="#" type="image/png">

<title> 订单详细信息</title>


<!--data table-->
<link rel="stylesheet" href="js/data-tables/DT_bootstrap.css"/>

<div th:include="common :: cheader"></div>
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div th:replace="common :: #leftmenu"></div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">

        <div th:replace="common :: headermenu"></div>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                订单详细信息
            </h3>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->

        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">

                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                        <a href="javascript:;" class="fa fa-times"></a>
                     </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table editable-table ">
                                <div class="clearfix">
                                </div>
                                <div class="space15"></div>
                                <table id="tq" class="table table-striped table-hover table-bordered" >
                                    <thead>
                                    <tr>
                                        <th>订单号</th>
                                        <th>消费者</th>
                                        <th>食物名称</th>
                                        <th>图片</th>
                                        <th>单价</th>
                                        <th>数量</th>
                                        <th>总价</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="order:${orders}" class="">
                                        <td th:text="${order.oid}"></td>
                                        <td th:text="${order.username}"></td>
                                        <td th:text="${order.fname}" ></td>
                                        <td  > <img th:src="${order.fpicture}" width="130" height="90"></td>
                                        <td th:text="${order.fprice}" ></td>
                                        <td th:text="${order.fnumber}" ></td>
                                        <td th:text="${order.tprice}" ></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <h1 style="color: green">总价钱为[[${ttprice}]]</h1>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <!--body wrapper end-->
       <!-- <script>var item =["1","a"];  document.getElementById('s1').value = item;</script>-->
        <!--footer section start-->

        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<div th:include="common :: #cscript"></div>
<script>
    window.onload=function () {
        var b = [];
        document.getElementById("aa").onmousedown=function () {

            var k = 0;
            var a = document.getElementsByName("orders");
            for (var i = 0; i < a.length; i++) {
                if (a[i].checked) {
                    b.push(a[i].value);
                    k++;
                }

            }
        }
      /*  document.getElementById('u1').value = b;*/
           /* alert(a.length);
            alert(a)*/


    }
</script>
<!--<script>
    var dv = document.getElementById('tq'), cbs = dv.getElementsByTagName('input');
    dv.onclick = function (e) {
        e = e || window.event;
        var o = e.target || e.srcElement;
        if (o.type == 'checkbox') {
            var vs = '';
            for (var i = 0; i < cbs.length; i++)
                if (cbs[i].checked) vs += ',' + cbs[i].value;
            document.cookie = 'vs=' + vs.substring(1);//存储选中的checkbook的值
        }
    }
    var m = /(^| |;)vs=([^;]+)/.exec(document.cookie);
    if (m) {//cookie中有值，初始化勾选状态
        var arr = m[2].split(',');
        for(var j=0;j<arr.length;j++)
            for(var i=0;i<cbs.length;i++)
                if (cbs[i].value == arr[j]) { cbs[i].checked = true; break;}
    }
    alert(document.cookie);
</script>-->
<!--data table-->
<script type="text/javascript" src="js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>


<!--script for editable table-->
<script src="js/editable-table.js"></script>

<!-- END JAVASCRIPTS -->
<!--<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
</script-->>

</body>
</html>
