<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>找回密码</title>

    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>

-->
    <script th:src="@{/js/jquery-1.10.2.min.js}"></script>

</head>

<script>
    //在页面加载完成后
    window.onload=function (ev) {
        /*  document.getElementById("form").onsubmit= function () {
              return  checkUsername()&&checkPassword();
          }*/

        document.getElementById("password").onblur=checkPassword;
        document.getElementById("telphone").onblur=checkTelphone;
        document.getElementById("username").onblur=checkUsername;
        document.getElementById("yzm").onblur=checkYzm;
    }

    var flag=false;
    var flag1=false;
    var yzm;
    //发送验证码
    function getYzm() {
        if(!flag){

        }
        else {
            var telphone = $("#telphone").val();
            $.get("/yzm", {telphone: telphone}, function (data) {

                if (data) {
                    yzm = data;
                    $("#s_byzm").html("以发送验证码，请查收")
                    $("#s_byzm").css("color", "green");
                } else {
                    $("#s_byzm").html("未验证码，请重新发送")
                    $("#s_byzm").css("color", "red");
                }
            });
        }
    }
//检查验证码
    function checkYzm() {
        var val = $(this).val();
        if(val!=yzm){
            $("#s_yzm").html("验证码不对")
            $("#s_yzm").css("color","red");
        }
        else {
            flag1=true;
            $("#s_yzm").html("验证成功")
            $("#s_yzm").css("color","green");
        }
    }

    function submit1() {

        if(flag1) {
            alert("修改密码成功")
            $("#form").submit();

        }
        else {
                $("#s_byzm").html("请先验证");
                $("#s_byzm").css("color","red");
            }

    }
    //检查是否有这个账号
    function  checkUsername() {
        var username= $("#username").val();
        var span = $("#s_username");
        if(username==""||username==null){
            span.html("用户名不能为空");
            span.css("color", "red");
            return false
        }
        else {
            $.get("/re", {username: username}, function (data) {

                if (data.userExsit) {
                    span.html("");
                    span.css("color", "green");
                    return false;
                } else {
                    span.html("用户不存在");
                    span.css("color", "red");
                    return true;
                }
            }, "json")
            return true;
        }
    }
    function checkPassword() {
        var span1=$("#s_password");
        var a= $("#password").val();
        if(a==""){
            span1.html("密码不能为空");
            span1.css("color","red")
            return false;
        }
        else {
            span1.html("");
            return true;
        }
    }
    function checkTelphone() {
        var span=$("#s_telphone");
        var telphone=  $("#telphone").val();
        var username=$("#username").val();
        if(telphone.length!=11){
            span.html("电话格式不正确");
            span.css("color","red")
            return false;
        }
        else {

            $.get("/forget", {telphone: telphone,username: username}, function (data) {
                if (!data.userExsit) {
                    span.html("电话号码不对");
                    span.css("color", "red");
                    return false;
                } else {
                    flag=true;
                    span.html("");
                    span.css("color", "green");
                    return true;
                }
            }, "json");

        }
    }

</script>
<body class="login-body">

<div class="container">

    <form class="form-signin" id="form" th:action="@{/reset}"  method="post">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">忘记密码</h1>
            <img src="images/login-logo.png" alt=""/>
        </div>

        <div class="login-wrap">
          <!--  <input type="text" autofocus="" placeholder="Full Name" class="form-control">
            <input type="text" autofocus="" placeholder="Address" class="form-control">-->
       <!--   <label for="telphone"> 电话号码：</label>-->
            <input type="text"  name="username"  id="username" placeholder="输入用户名"
                   class="form-control">
            <span id="s_username"></span><br>
            <input type="text"  name="telphone"  id="telphone" placeholder="注册时电话号码"
                   class="form-control">
            <span id="s_telphone"></span><br>


            <button id="b_yzm" onclick="getYzm()" type="button">获取验证码</button>
            <span id="s_byzm"></span><br>

            <input type="text"  name="yzm"  id="yzm" placeholder="请输入验证码"
                   class="form-control">
            <span id="s_yzm"></span>



            <input type="password" name="password" id="password" placeholder="输入新密码" class="form-control">
            <span id="s_password"></span>
            <!--<input type="password"  name="password" placeholder="再次输入密码" class="form-control">-->
           <!-- <label class="checkbox">
                <input type="checkbox" value="agree this condition"> I agree to the Terms of Service and Privacy Policy
            </label>-->
            <br>
            <button type="button"  onclick="submit1()" class="btn btn-lg btn-login btn-block">
                完成<i class="fa fa-check"></i>
            </button>

           <!-- <input type="submit"  value="注册">-->
            <div class="registration">
               已有用户?
                <a th:href="@{/login}" class="">
                    登录
                </a>
            </div>

        </div>

    </form>

</div>



<!-- Placed js at the end of the document so the pages load faster -->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>

</body>
</html>
