<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>修改密码</title>

    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-body">

<div class="container">

    <form class="form-signin" action="index.html" th:action="@{/update}" method="post">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">修改密码</h1>
            <img src="images/login-logo.png" alt=""/>
        </div>

        <div class="login-wrap">

          <!--  <input type="text" autofocus="" placeholder="Full Name" class="form-control">
            <input type="text" autofocus="" placeholder="Address" class="form-control">-->

            <!--<p> Enter your account details below</p>-->

            <input type="text" name="username" autofocus="" th:value="${session.loginUser.username}" readonly th:placeholder="${session.loginUser.username}"  class="form-control">
            <label style="color: red" th:text="${msg}"></label>
            <input type="password" name="password1" placeholder="请输入旧密码密码" class="form-control">
            <input type="password" name="password" placeholder="请输入新密码密码" class="form-control">
            <!--<input type="password"  name="password" placeholder="再次输入密码" class="form-control">-->
            <!--<input type="password"  name="password" placeholder="再次输入密码" class="form-control">-->
            <button type="submit" class="btn btn-lg btn-login btn-block">
                <i class="fa fa-check"></i>
            </button>

        </div>

    </form>

</div>



<!-- Placed js at the end of the document so the pages load faster -->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>

</body>
</html>
